.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1f1f1f;
  padding: 12px 40px;
}

.nav-logo {
  color: #ad9b67;
  font-size: 22px;
  font-weight: bold;
  
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
  margin: 0;
  padding: 0;
}

.nav-links li a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  transition: color 0.3s ease;
}

.nav-links li a:hover {
  color: #f4b400;
}

.logout-btn {
  background: #b22222;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.logout-btn:hover {
  opacity: 0.9;
}
